@import '../../style.scss';

.projects-display {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 40px;

  h2 {
    background: #10A6C0;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0px;
}

p {
  width: 60%;
  font-size: 18px;
  text-align: center;

  @include mobile {
    width: 100%;
  }
}

  .project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    .project {
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 30px;
      background: #ffffff17;
      width: max(300px, 27%);

      @include mobile {
        width: 100%;
      }
    }

    .project-details {
      
      p {
        padding-top: 40px;
        color: #9c9c9c;
      }

      button {
        padding: 10px 20px;
        border-radius: 30px;
        background: transparent;
        border: none;
        border-top: 2px solid #10A6C0;
        border-left: 2px solid #10A6C0;
        color: #10A6C0;
        transition: 0.4s;

        &:hover {
          background: #10A6C0;
          color: white;
        }
      }
    }
  }

  hr {
    border: none;
    height: 3px;
    background: #10A6C0;
  }

  img {
    width: 200px;
  }
}