@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import '../../style.scss';
.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;

    h1 {
        font-size: max(4vw, 40px);
        margin: 0;
        padding: 0;
        font-family: Baskervville SC;
        color: white;

        @include mobile {
            display: none;
        }
    }

    .place-order {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 50px;
        margin-top: 100px;
        padding: 40px;
        border-radius: 30px;
        width: 70%;

        @include mobile {
            flex-direction: column;
            width: 100%;
        }
    
        .place-order-left {
            width: 100%;
            max-width: max(70%, 800px);
            background: #ffffff17;
            border-radius: 40px;
            padding: 50px;
            color: white;

            @include mobile {
                background: transparent;
            }

            @include mobile {
                max-width: max(100%, 300px) !important;
            }
    
            .title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 50px;
                color: white;
            }
    
            input {
                margin-bottom: 15px;
                width: 100%;
                padding: 10px;
                outline: none;
                border: none;
                background: transparent;
                border-bottom: 1px solid white;
                border-radius: 0 !important;
                color: white;

                @include mobile {
                    outline: none;
                }
            }

            select {
                padding: 10px;
                margin-bottom: 15px;
                width: 100%;
                border: none;
                background: transparent;
                border-bottom: 1px solid white;
                color: white;
                outline: none;

                option {
                    color: black;
                }
            }

            textarea {
                padding: 10px;
                border: 1px solid white;
                border-radius: 4px;
                margin-bottom: 15px;
                width: 100%;
                background: transparent;
                border-radius: 0 !important;
            }
    
            .multi-fields {
                display: flex;
                gap: 10px;

                @include mobile {
                    flex-direction: column;
                }
            }
        }
    }

    button {
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        background: white;
        color: black;
    }
}